.hero{
  &-wrapper{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    &:after{
      position: absolute;
      content: '';
      //width: 100%;
      //height: 100%;
      top: -15rem;
      left: 0;
      z-index: 2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1334' height='489' viewBox='0 0 1334 489' fill='none'%3E%3Crect opacity='0.2' x='340' y='170' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='514' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='1184' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='162' y='339' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' y='170' width='150' height='150' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }
  }
  &-slider{
    position: relative;
    height: 100%;
    width: 100%;
    .slick-list, .slick-track{
      height: 100%;
    }
    &__media{
      width: 100%;
      height: 100%;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.61%, rgba(0, 0, 0, 0.4) 85.7%);
      }
      img{
        width: 100%;
        height: calc(100% - #{px(63)});
        object-fit: cover;
      }
    }
    &__desc{
      position: absolute;
      z-index: 5;
      width: 100%;
      height: calc(100% - #{px(275)});
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-width: px(870);
      margin: 0 auto;
      left: px(375);
    }
    &__title{
      font-weight: 900;
      font-size: px(80);
      line-height: px(100);
      color: $white;
      -webkit-text-stroke: px(5)  $secondary-100;
    }
    &__author{
      font-weight: 300;
      font-size: px(40);
      line-height: .8;
      text-align: right;
      width: auto;
      display: inline-block;
      margin: 0 0 0 auto;
      color: $white;
      position: relative;
      top: 0;
      &:before{
        position: absolute;
        content: '';
        left: -5rem;
        top: 50%;
        margin-top: -1px;
        width: 3rem;
        height: 1px;
        background: $white;
      }
    }
    &__info{
      z-index: 3;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: $secondary-100;
      height: px(300);
      padding: px(50) 0 px(47) px(375);
    }
    &__text{
      font-family: $Roboto;
      max-width: px(900);
      font-weight: 300;
      font-size: px(20);
      line-height: px(34);
      color: $white;
    }
  }
}
.nav-hero__slider{
  position: fixed;
  display: flex;
  z-index: 10;
  bottom: px(60);
  right: px(450);
  .prev-slide,
  .next-slide{
    cursor: pointer;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      width: px(50);
      height: px(50);
      top: 50%;
      margin-top: - px(26);
      border-radius: 50%;
      border: px(1) solid $white;
      opacity: 0;
      transition: all ease .2s;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
  }
  .prev-slide{
    margin-right: px(20);
    &:before{
      left: - px(21);
    }
  }
  .next-slide{
    &:before{
      right: - px(21);
    }
  }
  .icon{
    width: px(40);
    height: px(40);
    fill: $white;
    stroke: $white;
  }
}