body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  &.is-scroll{
    overflow: hidden;
  }
}
h1, h2, h3, h4, h5, h6{
  font-family: $Roboto;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h2 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.wysiwyg{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  p{
    font-size: 16px;
    line-height: 24px;
    color: $default;
    margin-bottom: 16px;
  }
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title-section{
  font-family: $Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  color: #182528;
  margin-bottom: 4rem;
}
.input, .textarea {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  font-family: $Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $default-100;
  padding: 2rem 2rem;
  &::-webkit-input-placeholder {
    color: #67696D;
  }
  &::-moz-placeholder {
    color: #67696D;
  }
  &:-moz-placeholder {
    color: #67696D;
  }
  &::-ms-input-placeholder {
    color: #67696D;
  }
  &:-ms-input-placeholder {
    color: #67696D;
  }
  &:focus,
  &:active {
    border-color: #007756;
  }
}
.btn-primary{
  font-family: $Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  background: $green;
  color: $white;
  border-radius: 2px;
  padding: 2rem;
  &:hover{
    background: rgba($green, .8);
  }
}
.sitemap-nav{
  ol{
    counter-reset: my-counter;
    list-style: none;
  }
  li{
    margin-bottom: 2rem;
    counter-increment: my-counter;
    &:before{
      position: relative;
      content: counter(my-counter);
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: $green;
    }
  }
  a{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: $green;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}